/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

.ng-enter {
  opacity: 0;
  transition: 900ms all ease-out; }

.ng-enter.ng-enter-active {
  opacity: 1; }

.ng-leave {
  opacity: 1;
  transition: 300ms all ease-out; }

.ng-leave.ng-leave-active {
  opacity: 0; }

::-webkit-scrollbar {
  width: 8px;
  background-color: #646177; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #060507; }

header {
  background: #35333f;
  color: #eaeaeb;
  font-family: 'Racing Sans One', cursive;
  height: 100vh;
  text-align: center;
  width: 16%; }
  @media screen and (max-width: 820px) {
    header {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      border-bottom: 1px solid #1d1c23;
      box-shadow: 0px 1px 2px #1d1c23; } }
  @media screen and (max-width: 480px) {
    header {
      display: flex;
      flex-direction: column; } }

.title {
  background: #710607;
  padding: 1rem 0; }
  @media screen and (max-width: 820px) {
    .title {
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .title {
      width: 100%; } }
  .title__container {
    background: black;
    padding: 0.5rem 0; }
    .title__container::before, .title__container::after {
      background: #eaeaeb;
      content: '';
      display: block;
      height: 3px;
      width: 100%; }
    @media screen and (max-width: 820px) {
      .title__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0; }
        .title__container::before, .title__container::after {
          display: none; } }
  .title__main, .title__sub {
    font-size: 2rem;
    text-transform: uppercase; }
    @media screen and (max-width: 820px) {
      .title__main, .title__sub {
        font-size: 1.5rem;
        padding: 0.5rem; } }
    @media screen and (max-width: 480px) {
      .title__main, .title__sub {
        font-size: 1.2rem; } }

@media screen and (max-width: 820px) {
  .nav {
    display: flex;
    flex-wrap: wrap; } }

.nav__item {
  border-bottom: 1px solid #1d1c23;
  box-shadow: 0px 1px 2px #1d1c23;
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  width: 100%; }
  .nav__item:hover {
    background: #1d1c23; }
  @media screen and (max-width: 820px) {
    .nav__item {
      padding: 0.5rem 1rem;
      width: auto;
      box-shadow: none;
      border-bottom: none;
      border-right: 1px solid #1d1c23; } }
  @media screen and (max-width: 480px) {
    .nav__item {
      font-size: 1.2rem; } }

.search {
  background: #35333f;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  z-index: 99; }
  .search__link {
    background: #4d4a5b;
    border-radius: 0.2rem;
    color: white;
    margin-right: 0.2rem;
    padding: 0.2rem; }
    .search__link--active {
      background: #2660fd; }
  .search__field {
    border-radius: 0.2rem;
    color: white;
    margin-left: auto;
    background-color: #7d7992; }
    .search__field input[type="text"] {
      background-color: #646177;
      border: none;
      padding: 0.25rem; }
  .search__icon {
    padding: 0 0.5rem; }

main {
  background: #838188;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  height: 100vh;
  width: 84%; }
  @media screen and (max-width: 820px) {
    main {
      height: 100%;
      width: 100%; } }

.section {
  overflow: hidden; }
  .section__drivers, .section__teams, .section__races, .section__driver {
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    width: 96%;
    z-index: 1; }
    .section__drivers--image, .section__teams--image, .section__races--image, .section__driver--image {
      position: absolute;
      opacity: 0.2;
      left: -5%;
      top: -5%;
      transform: scale(1.2);
      z-index: -1; }
  .section__driver {
    padding-top: 2rem; }
  .section__title {
    color: white;
    font-family: 'Racing Sans One', cursive;
    font-size: 2rem;
    padding: 2rem 0;
    text-shadow: 2px 2px 4px #35333f; }
  .section__two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 4rem; }
    @media screen and (max-width: 1200px) {
      .section__two-col {
        grid-template-columns: 1fr; } }

.tbl {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  margin-bottom: 2rem;
  width: 100%;
  overflow-x: auto;
  box-shadow: 0px 2px 4px #35333f; }
  .tbl thead {
    background-image: linear-gradient(#dddddf, #9d9ba1); }
  .tbl tr, .tbl td, .tbl th {
    border: 1px solid black; }
  .tbl td, .tbl th {
    padding: 0.8rem; }
  .tbl th {
    font-weight: bold; }
  .tbl__title {
    text-align: left; }

.spec {
  display: grid;
  grid-template-columns: 1fr 6fr; }
  @media screen and (max-width: 820px) {
    .spec {
      grid-template-columns: 1fr; } }
  .spec__three-col {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr; }
  .spec__details {
    background: #35333f;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0px 2px 4px #35333f;
    color: white;
    padding: 2rem 0.5rem 0.2rem;
    position: relative;
    z-index: 99; }
    @media screen and (max-width: 820px) {
      .spec__details {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0; } }
    @media screen and (max-width: 480px) {
      .spec__details {
        flex-direction: column;
        padding: 0.5rem 0; } }
    .spec__details--head {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.25rem;
      align-items: end; }
    .spec__details--content {
      margin-top: 1rem; }
      .spec__details--content td {
        padding: 0.25rem; }
      @media screen and (max-width: 820px) {
        .spec__details--content {
          margin-top: 0; } }
    .spec__details--image {
      border-radius: 0.3rem;
      height: 5rem;
      box-shadow: 0px 2px 4px #35333f; }

.flag {
  height: 1rem; }

.flag__big {
  height: 3rem; }

.position-1,
.points-25 {
  background: rgba(255, 255, 0, 0.5); }

.position-2,
.points-18 {
  background: rgba(128, 128, 128, 0.5); }

.position-3,
.points-15 {
  background: rgba(255, 165, 0, 0.5); }

.position-4 {
  background: rgba(144, 238, 144, 0.5); }

.position-5 {
  background: rgba(90, 150, 170, 0.5); }

.position-6 {
  background: rgba(0, 102, 255, 0.5); }

.position-7 {
  background: rgba(0, 104, 31, 0.5); }

.position-8 {
  background: rgba(209, 41, 41, 0.5); }

.position-9 {
  background: rgba(187, 105, 255, 0.5); }

.position-10 {
  background: rgba(143, 69, 0, 0.5); }

.points-0 {
  background: rgba(178, 180, 255, 0.5); }

.position-11 {
  background: rgba(178, 180, 255, 0.5); }

.position-12 {
  background: rgba(178, 180, 255, 0.5); }

.position-13 {
  background: rgba(178, 180, 255, 0.5); }

.position-14 {
  background: rgba(178, 180, 255, 0.5); }

.position-15 {
  background: rgba(178, 180, 255, 0.5); }

.position-16 {
  background: rgba(178, 180, 255, 0.5); }

.position-17 {
  background: rgba(178, 180, 255, 0.5); }

.position-18 {
  background: rgba(178, 180, 255, 0.5); }

.position-19 {
  background: rgba(178, 180, 255, 0.5); }

.position-20 {
  background: rgba(178, 180, 255, 0.5); }

.position-21 {
  background: rgba(178, 180, 255, 0.5); }

.position-22 {
  background: rgba(178, 180, 255, 0.5); }

.position-23 {
  background: rgba(178, 180, 255, 0.5); }

.points-1 {
  background: rgba(144, 238, 144, 0.5); }

.points-2 {
  background: rgba(144, 238, 144, 0.5); }

.points-3 {
  background: rgba(144, 238, 144, 0.5); }

.points-4 {
  background: rgba(144, 238, 144, 0.5); }

.points-5 {
  background: rgba(144, 238, 144, 0.5); }

.points-6 {
  background: rgba(144, 238, 144, 0.5); }

.points-7 {
  background: rgba(144, 238, 144, 0.5); }

.points-8 {
  background: rgba(144, 238, 144, 0.5); }

.points-9 {
  background: rgba(144, 238, 144, 0.5); }

.points-10 {
  background: rgba(144, 238, 144, 0.5); }

.points-11 {
  background: rgba(144, 238, 144, 0.5); }

.points-12 {
  background: rgba(144, 238, 144, 0.5); }

.sprite {
  background-image: url("../../prod/images/flags.png");
  background-repeat: no-repeat;
  display: inline-block; }

.sprite-Australia {
  width: 27px;
  height: 16px;
  background-position: -5px -5px; }

.sprite-Australian {
  width: 27px;
  height: 16px;
  background-position: -42px -5px; }

.sprite-Austrian {
  width: 27px;
  height: 16px;
  background-position: -79px -5px; }

.sprite-Bahrain {
  width: 27px;
  height: 16px;
  background-position: -116px -5px; }

.sprite-Belgium {
  width: 27px;
  height: 16px;
  background-position: -153px -5px; }

.sprite-Brazil {
  width: 27px;
  height: 16px;
  background-position: -5px -31px; }

.sprite-Brazilian {
  width: 27px;
  height: 16px;
  background-position: -42px -31px; }

.sprite-British {
  width: 27px;
  height: 16px;
  background-position: -79px -31px; }

.sprite-Canada {
  width: 27px;
  height: 16px;
  background-position: -116px -31px; }

.sprite-China {
  width: 27px;
  height: 16px;
  background-position: -153px -31px; }

.sprite-Dutch {
  width: 27px;
  height: 16px;
  background-position: -5px -57px; }

.sprite-Finnish {
  width: 27px;
  height: 16px;
  background-position: -42px -57px; }

.sprite-French {
  width: 27px;
  height: 16px;
  background-position: -79px -57px; }

.sprite-German {
  width: 27px;
  height: 16px;
  background-position: -116px -57px; }

.sprite-Germany {
  width: 27px;
  height: 16px;
  background-position: -153px -57px; }

.sprite-Hungary {
  width: 27px;
  height: 16px;
  background-position: -5px -83px; }

.sprite-India {
  width: 27px;
  height: 16px;
  background-position: -42px -83px; }

.sprite-Indian {
  width: 27px;
  height: 16px;
  background-position: -79px -83px; }

.sprite-Italian {
  width: 27px;
  height: 16px;
  background-position: -116px -83px; }

.sprite-Italy {
  width: 27px;
  height: 16px;
  background-position: -153px -83px; }

.sprite-Japan {
  width: 27px;
  height: 16px;
  background-position: -5px -109px; }

.sprite-Korea {
  width: 27px;
  height: 16px;
  background-position: -42px -109px; }

.sprite-Malaysia {
  width: 27px;
  height: 16px;
  background-position: -79px -109px; }

.sprite-Malaysian {
  width: 27px;
  height: 16px;
  background-position: -116px -109px; }

.sprite-Mexican {
  width: 27px;
  height: 16px;
  background-position: -153px -109px; }

.sprite-Monaco {
  width: 27px;
  height: 16px;
  background-position: -5px -135px; }

.sprite-Morocco {
  width: 27px;
  height: 16px;
  background-position: -42px -135px; }

.sprite-Russian {
  width: 27px;
  height: 16px;
  background-position: -79px -135px; }

.sprite-Singapore {
  width: 27px;
  height: 16px;
  background-position: -116px -135px; }

.sprite-Spain {
  width: 27px;
  height: 16px;
  background-position: -153px -135px; }

.sprite-Spanish {
  width: 27px;
  height: 16px;
  background-position: -5px -161px; }

.sprite-Swiss {
  width: 27px;
  height: 16px;
  background-position: -42px -161px; }

.sprite-UAE {
  width: 27px;
  height: 16px;
  background-position: -79px -161px; }

.sprite-UK {
  width: 27px;
  height: 16px;
  background-position: -116px -161px; }

.sprite-USA {
  width: 27px;
  height: 16px;
  background-position: -153px -161px; }

.sprite-Venezuelan {
  width: 27px;
  height: 16px;
  background-position: -190px -5px; }

body {
  display: flex; }
  @media screen and (max-width: 820px) {
    body {
      flex-direction: column; } }
