
    // background-image: url('../../prod/images/drivers/index.png');
.sprite {
    background-image: url('../../prod/images/flags.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-Australia {
    width: 27px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-Australian {
    width: 27px;
    height: 16px;
    background-position: -42px -5px;
}

.sprite-Austrian {
    width: 27px;
    height: 16px;
    background-position: -79px -5px;
}

.sprite-Bahrain {
    width: 27px;
    height: 16px;
    background-position: -116px -5px;
}

.sprite-Belgium {
    width: 27px;
    height: 16px;
    background-position: -153px -5px;
}

.sprite-Brazil {
    width: 27px;
    height: 16px;
    background-position: -5px -31px;
}

.sprite-Brazilian {
    width: 27px;
    height: 16px;
    background-position: -42px -31px;
}

.sprite-British {
    width: 27px;
    height: 16px;
    background-position: -79px -31px;
}

.sprite-Canada {
    width: 27px;
    height: 16px;
    background-position: -116px -31px;
}

.sprite-China {
    width: 27px;
    height: 16px;
    background-position: -153px -31px;
}

.sprite-Dutch {
    width: 27px;
    height: 16px;
    background-position: -5px -57px;
}

.sprite-Finnish {
    width: 27px;
    height: 16px;
    background-position: -42px -57px;
}

.sprite-French {
    width: 27px;
    height: 16px;
    background-position: -79px -57px;
}

.sprite-German {
    width: 27px;
    height: 16px;
    background-position: -116px -57px;
}

.sprite-Germany {
    width: 27px;
    height: 16px;
    background-position: -153px -57px;
}

.sprite-Hungary {
    width: 27px;
    height: 16px;
    background-position: -5px -83px;
}

.sprite-India {
    width: 27px;
    height: 16px;
    background-position: -42px -83px;
}

.sprite-Indian {
    width: 27px;
    height: 16px;
    background-position: -79px -83px;
}

.sprite-Italian {
    width: 27px;
    height: 16px;
    background-position: -116px -83px;
}

.sprite-Italy {
    width: 27px;
    height: 16px;
    background-position: -153px -83px;
}

.sprite-Japan {
    width: 27px;
    height: 16px;
    background-position: -5px -109px;
}

.sprite-Korea {
    width: 27px;
    height: 16px;
    background-position: -42px -109px;
}

.sprite-Malaysia {
    width: 27px;
    height: 16px;
    background-position: -79px -109px;
}

.sprite-Malaysian {
    width: 27px;
    height: 16px;
    background-position: -116px -109px;
}

.sprite-Mexican {
    width: 27px;
    height: 16px;
    background-position: -153px -109px;
}

.sprite-Monaco {
    width: 27px;
    height: 16px;
    background-position: -5px -135px;
}

.sprite-Morocco {
    width: 27px;
    height: 16px;
    background-position: -42px -135px;
}

.sprite-Russian {
    width: 27px;
    height: 16px;
    background-position: -79px -135px;
}

.sprite-Singapore {
    width: 27px;
    height: 16px;
    background-position: -116px -135px;
}

.sprite-Spain {
    width: 27px;
    height: 16px;
    background-position: -153px -135px;
}

.sprite-Spanish {
    width: 27px;
    height: 16px;
    background-position: -5px -161px;
}

.sprite-Swiss {
    width: 27px;
    height: 16px;
    background-position: -42px -161px;
}

.sprite-UAE {
    width: 27px;
    height: 16px;
    background-position: -79px -161px;
}

.sprite-UK {
    width: 27px;
    height: 16px;
    background-position: -116px -161px;
}

.sprite-USA {
    width: 27px;
    height: 16px;
    background-position: -153px -161px;
}

.sprite-Venezuelan {
    width: 27px;
    height: 16px;
    background-position: -190px -5px;
}
    