<!-- <button ng-click="vm.getDrivers()">Klik</button> -->
<div>
    <ul class="search">
        <li><a class="search__link" href="#">F-1 feeder</a></li>
        <li><a class="search__link search__link--active" href="#">Drivers</a></li>
        <li class="search__field"><input type="text" ng-model="search" placeholder="Search"><i class="fas fa-search search__icon"></i></li>
        <label for="selectSeason">Select season
            <select ng-change="vm.getData(selectedValue)" ng-model="selectedValue" id="selectSeason">
                <option ng-repeat="season in vm.seasonList">{{season.season}}</option>
            </select>
        </label>
        <!-- <button ng-click="vm.getData(season.season)">Show season</button> -->
        {{selectedValue}}
    </ul>
</div>
<div class="section__drivers">
    <h2 class="section__title">Drivers Championship</h2>
    <table class="tbl">
        <thead>
            <tr class="tbl__title">
                <th colspan="11">Drivers Championship Standings - {{vm.driversList[0].season}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="driver in vm.driversList | filter:search">
                <td colspan="1">{{driver.position}}</td>
                <td colspan="5">
                    <!-- <img class="flag" ng-src="./prod/images/drivers/{{driver.Driver.nationality}}.png" alt="driver">  -->
                    <i class="sprite sprite-{{driver.Driver.nationality}}"></i>
                    <a ng-href="#!drivers/{{driver.Driver.driverId}}">{{driver.Driver.givenName}} {{driver.Driver.familyName}}</a></td>
                <td colspan="3">{{driver.Constructors[0].name}}</td>
                <td colspan="2">{{driver.points}}</td>
            </tr>
        </tbody>
    </table>
    <img class="section__drivers--image" src="./prod/images/background/f1.jpg" alt="f1">
</div>