<div class="spec">
    <div class="spec__details">
        <div class="spec__details--head">
            <img class="spec__details--image" src="./prod/images/background/driver.jpg" alt="Driver image">
            <div>
                <!-- <img class="flag" ng-src="./prod/images/drivers/{{vm.driverDetail[0].Results[0].Driver.nationality}}.png" alt="flag"> -->
                <i class="sprite sprite-{{vm.driverDetail[0].Results[0].Driver.nationality}}"></i> 
                <p>{{vm.driverDetail[0].Results[0].Driver.givenName}}</p>
                <p>{{vm.driverDetail[0].Results[0].Driver.familyName}}</p>
            </div>
        </div>
        <table class="spec__details--content">
            <tr>
                <td colspan="1">Country:</td>
                <td colspan="1">{{vm.driverDetail[0].Results[0].Driver.nationality}}</td>
            </tr>
            <tr>
                <td colspan="1">Team:</td>
                <td colspan="1">{{vm.driverDetail[0].Results[0].Constructor.name}}</td>
            </tr>
            <tr>
                <td colspan="1">Birth: </td>
                <td colspan="1">{{vm.driverDetail[0].Results[0].Driver.dateOfBirth}}</td>
            </tr>
            <tr>
                <td colspan="1">Biography:</td>
                <td colspan="1"><a href="{{vm.driverDetail[0].Results[0].Driver.url}}"> <i class="fas fa-external-link-alt"></i></a></td>
            </tr>
        </table>
    </div>

    <div class="section__driver">
        <table class="tbl">
            <thead>
                <tr>
                    <th class="tbl__title" colspan="13">Formula 1 - 2013 results</th>
                </tr>
                <tr>
                    <th colspan="1">Round</th>
                    <th colspan="5">Grand Prix</th>
                    <th colspan="3">Team</th>
                    <th colspan="2">Grid</th>
                    <th colspan="2">Race</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="driver in vm.driverDetail">
                    <td colspan="1">{{driver.round}}</td>
                    <td colspan="5">
                        <!-- <img class="flag" ng-src="./prod/images/circuits/{{driver.Circuit.Location.country}}.png" alt="flag">  -->
                        <i class="sprite sprite-{{driver.Circuit.Location.country}}"></i> 
                        {{driver.raceName}}</td>
                    <td colspan="3">{{driver.Results[0].Constructor.name}}</td>
                    <td colspan="2">{{driver.Results[0].grid}}</td>
                    <td class="position-{{driver.Results[0].position}}" colspan="2">{{driver.Results[0].position}}</td>
                </tr>
            </tbody>
        </table>
        <img class="section__drivers--image" src="./prod/images/background/circuit.jpg" alt="f1">
    </div>

</div>

