<div>
    <ul class="search">
        <li><a class="search__link" href="#">F-1 feeder</a></li>
        <li><a class="search__link search__link--active" href="#">Races</a></li>
        <li class="search__field"><input type="text" ng-model="search.raceName" placeholder="Search"><i class="fas fa-search search__icon"></i></li>
    </ul>
</div>
<div class="section__races">
    <h2 class="section__title">Race Calendar</h2>
    <table class="tbl">
        <thead>
            <tr class="tbl__title">
                <th colspan="13">Race Calendar - 2013</th>
            </tr>
            <tr>
                <th colspan="1">Round</th>
                <th colspan="5">Grand Prix</th>
                <th colspan="3">Circuit</th>
                <th colspan="2">Date</th>
                <th colspan="2">Winner</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="race in vm.racesList | filter:search">
                <td colspan="1">{{race.round}}</td>
                <td colspan="5">
                    <a ng-href="#!races/{{race.round}}">
                        <!-- <img class="flag" ng-src="./prod/images/circuits/{{race.Circuit.Location.country}}.png" alt="circuit"> -->
                        <i class="sprite sprite-{{race.Circuit.Location.country}}"></i> {{race.raceName}}
                    </a>
                </td>
                <td colspan="3">{{race.Circuit.circuitName}}</td>
                <td colspan="2">{{race.date}}</td>
                <td colspan="2">{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</td>
            </tr>
        </tbody>
    </table>
    <img class="section__drivers--image" src="./prod/images/background/race.jpg" alt="f1">
</div>