<div class="spec">
    <div class="spec__details">
        <div class="spec__details--head">
            <img class="spec__details--image" ng-src="./prod/images/circuits/{{vm.raceDetailQ[0].Circuit.Location.country}}.png" alt="flag">
            <div>
                <h2>{{vm.raceDetailQ[0].raceName}}</h2>
            </div>
        </div>
        
        <table class="spec__details--content">
            <tr>
                <td colspan="1">Country:</td>
                <td colspan="1">{{vm.raceDetailQ[0].Circuit.Location.country}}</td>
            </tr>
            <tr>
                <td colspan="1">Location:</td>
                <td colspan="1">{{vm.raceDetailQ[0].Circuit.Location.locality}}</td>
            </tr>
            <tr>
                <td colspan="1">Date: </td>
                <td colspan="1">{{vm.raceDetailQ[0].date}}</td>
            </tr>
            <tr>
                <td colspan="1">Full Report:</td>
                <td colspan="1"><a href="{{vm.raceDetailQ[0].url}}"><i class="fas fa-external-link-alt"></i></a></td>
            </tr>
        </table>
    </div>

    <div class="section__driver section__two-col">
    <table class="tbl">
        <thead>
            <tr class="tbl__title">
                <th colspan="11">Qualifying Results</th>
            </tr>
            <tr>
                <th>Pos</th>
                <th>Driver</th>
                <th>Team</th>
                <th>Best Time</th>
            </tr>
        </thead>

        <tbody ng-repeat="race in vm.raceDetailQ">
            <tr ng-repeat="r in race.QualifyingResults">
                <td>{{r.position}}</td>
                <td>
                    <!-- <img class="flag" ng-src="./prod/images/drivers/{{r.Driver.nationality}}.png" alt="Flag">  -->
                    <i class="sprite sprite-{{r.Driver.nationality}}"></i> 
                    {{r.Driver.familyName}}
                </td>
                <td>{{r.Constructor.name}}</td>
                <td>
                    <span ng-if="r.Q3">{{r.Q3}}</span>
                    <span ng-if="!r.Q3">{{r.Q2}}</span>
                    <span ng-if="!r.Q2">{{r.Q1}}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="tbl">
            <thead>
                <tr class="tbl__title">
                    <th colspan="11">Race Results</th>
                </tr>
                <tr>
                    <th>Pos</th>
                    <th>Driver</th>
                    <th>Team</th>
                    <th>Time</th>
                    <th>Points</th>
                    <!-- <th>Race Status</th> -->
                </tr>
            </thead>
    
            <tbody ng-repeat="race in vm.raceDetailR">
                <tr ng-repeat="r in race.Results">
                    <td>{{r.position}}</td>
                    <td>
                        <!-- <img class="flag" ng-src="./prod/images/drivers/{{r.Driver.nationality}}.png" alt="Flag"> -->
                        <i class="sprite sprite-{{r.Driver.nationality}}"></i> 
                        {{r.Driver.familyName}}
                    </td>
                    <td>{{r.Constructor.name}}</td>
                    <td>{{r.Time.time}}</td>
                    <td class="points-{{r.points}}">{{r.points}}</td>
                    <!-- <td>{{r.status}}</td> -->
                </tr>
            </tbody>
        </table>
        <img class="section__drivers--image" src="./prod/images/background/circuit.jpg" alt="f1">
    </div>

</div>