<div class="spec">
    <div class="spec__details">
        <div class="spec__details--head">
            <img class="spec__details--image" src="./prod/images/background/team.jpg" alt="Team image">
            <div>
                <!-- <img class="flag" ng-src="./prod/images/constructors/{{vm.teamDetail[0].Results[0].Constructor.nationality}}.png" alt="flag"> -->
                <i class="sprite sprite-{{vm.teamDetail[0].Results[0].Constructor.nationality}}"></i>
                <p>{{vm.teamDetail[0].Results[0].Constructor.name}}</p>
            </div>
        </div>
        <table class="spec__details--content">
            <tr>
                <td colspan="1">Country:</td>
                <td colspan="1">{{vm.teamDetail[0].Results[0].Constructor.nationality}}</td>
            </tr>
            <tr>
                <td colspan="1">Position:</td>
                <td colspan="1">{{vm.teamDetailPosition[0].position}}</td>
            </tr>
            <tr>
                <td colspan="1">Points: </td>
                <td colspan="1">{{vm.teamDetailPosition[0].points}}</td>
            </tr>
            <tr>
                <td colspan="1">History:</td>
                <td colspan="1"><a href="#"><i class="fas fa-external-link-alt"></i></a></td>
            </tr>
        </table>
    </div>

    <div class="section__driver">
        <table class="tbl">
            <thead>
                <tr>
                    <th class="tbl__title" colspan="13">Formula 1 - 2013 results</th>
                </tr>
                <tr>
                    <th colspan="1">Round</th>
                    <th colspan="5">Grand Prix</th>
                    <th colspan="3">{{vm.teamDetail[0].Results[0].Driver.familyName}}</th>
                    <th colspan="2">{{vm.teamDetail[0].Results[1].Driver.familyName}}</th>
                    <th colspan="2">Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in vm.teamDetail">
                    <td colspan="1">{{team.round}}</td>
                    <td colspan="5">
                        <!-- <img class="flag" ng-src="./prod/images/circuits/{{team.Circuit.Location.country}}.png" alt="flag">  -->
                        <i class="sprite sprite-{{team.Circuit.Location.country}}"></i>
                        {{team.raceName}}
                    </td>
                    <td class="position-{{team.Results[0].position}}" colspan="3">{{team.Results[0].position}}</td>
                    <td class="position-{{team.Results[1].position}}" colspan="2">{{team.Results[1].position}}</td>
                    <td colspan="2">{{(team.Results[0].points) -- (team.Results[1].points)}}</td>
                </tr>
            </tbody>
        </table>
        <img class="section__driver--image" src="./prod/images/background/constructors.jpg" alt="f1">
    </div>

</div>