<div>
    <ul class="search">
        <li><a class="search__link" href="#">F-1 feeder</a></li>
        <li><a class="search__link search__link--active" href="#">Constructors</a></li>
        <li class="search__field"><input type="text" ng-model="search.Constructor.name" placeholder="Search"><i class="fas fa-search search__icon"></i></li>
    </ul>
</div>
<div class="section__teams">
    <h2 class="section__title">Constructors Championship</h2>
    <table class="tbl">
        <thead>
            <tr class="tbl__title">
                <th colspan="11">Constructors Championship Standings - 2013</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="constructor in vm.constructorsList | filter:search">
                <td colspan="1">{{constructor.position}}</td>
                <td colspan="5">
                    <!-- <img class="flag" ng-src="./prod/images/constructors/{{constructor.Constructor.nationality}}.png" alt="constructor"> -->
                    <i class="sprite sprite-{{constructor.Constructor.nationality}}"></i>
                    <a ng-href="#!teams/{{constructor.Constructor.constructorId}}">{{constructor.Constructor.name}}</a>
                </td>
                <td colspan="3"><a href="{{constructor.Constructor.url}}">Details: <i class="fas fa-external-link-alt"></i></a> </td>
                <td colspan="2">{{constructor.points}}</td>
            </tr>
        </tbody>
    </table>
    <img class="section__drivers--image" src="./prod/images/background/constructors.jpg" alt="f1">
</div>