.ng-enter {
	opacity:0;
	transition: 900ms all ease-out;
}
.ng-enter.ng-enter-active {
	opacity:1;
}
.ng-leave {
	opacity:1;
	transition: 300ms all ease-out; 
}
.ng-leave.ng-leave-active {
	opacity:0; 
}