main {
    background: $light-grey;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    height: 100vh;
    width: 84%;
    @include mq-small {
        height: 100%;
        width: 100%;
    }
}

.section {
    overflow: hidden;
    &__drivers, 
    &__teams,
    &__races, 
    &__driver {
        margin: 0 auto;
        min-height: 100vh;
        position: relative;
        width: 96%;
        z-index: 1;
        &--image {
            position: absolute;
            opacity: 0.2;
            left: -5%;
            top: -5%;
            transform: scale(1.2);
            z-index: -1;
        }
    }
    &__driver {
        padding-top: 2rem;
    }
    &__title {
        color: lighten($light-grey, 50%);
        font-family: 'Racing Sans One', cursive;
        font-size: 2rem;
        padding: 2rem 0;
        @include text-shadow;
    }
    &__two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin-bottom: 4rem;
        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }
    }
}

.tbl {
    background: rgba((lighten($light-grey, 75%)), 0.5);
    border: 1px solid black;
    margin-bottom: 2rem;
    width: 100%;
    overflow-x: auto;
    @include box-shadow;
    thead {
        background-image: linear-gradient(lighten($light-grey, 35%), lighten($light-grey, 10%));
    }
    tr, td, th {
        border: 1px solid black;
    }
    td, th {
        padding: 0.8rem;
    }
    th {
        font-weight: bold;
    }
    &__title {
        text-align: left;
    }
}

.spec {
    display: grid;
    grid-template-columns: 1fr 6fr;
    @include mq-small {
        grid-template-columns: 1fr;
    }
    &__three-col {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
    }
    &__details {
        background: $dark-grey;
        border-left: 2px solid darken($dark-grey, 25%);
        border-right: 2px solid darken($dark-grey, 25%);
        @include box-shadow;
        color: lighten($light-grey, 50%);
        padding: 2rem 0.5rem 0.2rem;
        position: relative;
        z-index: 99;
        @include mq-small {
            display: flex;
            align-items: center;
            justify-content: center; 
            padding: 0;
        }
        @include mq-xsmall {
            flex-direction: column;
            padding: 0.5rem 0;
        }
        &--head {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.25rem;
            align-items: end;
        }
        &--content {
            margin-top: 1rem;
            td {
                padding: 0.25rem;
            }
            @include mq-small {
                margin-top: 0;
            }
        }
        &--image {
            border-radius: 0.3rem;
            height: 5rem;
            @include box-shadow;
        }
    }
}

.flag {
    height: 1rem;
}

.flag__big {
    height: 3rem;
}