@mixin text-shadow {
    text-shadow: 2px 2px 4px $dark-grey;
}

@mixin box-shadow {
    box-shadow: 0px 2px 4px $dark-grey;
}

@mixin mq-small {
    @media screen and (max-width: 820px) {
        @content;
    }
}

@mixin mq-xsmall {
    @media screen and (max-width: 480px) {
        @content;
    }
}