header {
    background: $dark-grey;
    color: lighten($light-grey, 40%);
    font-family: 'Racing Sans One', cursive;
    height: 100vh;
    text-align: center;
    width: 16%;
    @include mq-small {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid darken($dark-grey, 10%);
        box-shadow: 0px 1px 2px darken($dark-grey, 10%);
    }
    @include mq-xsmall {
        display: flex;
        flex-direction: column;
    }
}

.title {
    background: $dark-red;
    padding: 1rem 0;
    @include mq-small {
        padding: 0;
    }
    @include mq-xsmall {
        width: 100%;
    }

    &__container {
        background: darken($dark-grey, 25%);
        padding: 0.5rem 0;
        &::before, &::after {
            background: lighten($light-grey, 40%);
            content: '';
            display: block;
            height: 3px;
            width: 100%;
        }
        @include mq-small {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            &::before, &::after {
                display: none;
            }
        } 
    }

    &__main, &__sub {
        font-size: 2rem;
        text-transform: uppercase;
        @include mq-small {
            font-size: 1.5rem;
            padding: 0.5rem;
        }
        @include mq-xsmall {
            font-size: 1.2rem;
        }
    }
}

.nav {
    @include mq-small {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        border-bottom: 1px solid darken($dark-grey, 10%);
        box-shadow: 0px 1px 2px darken($dark-grey, 10%);
        display: block;
        font-size: 1.5rem;
        padding: 1rem 0;
        width: 100%;
        &:hover {
            background: darken($dark-grey, 10%);
        }
        @include mq-small {
            padding: 0.5rem 1rem;
            width: auto;
            box-shadow: none;
            border-bottom: none;
            border-right: 1px solid darken($dark-grey, 10%);
        }
        @include mq-xsmall {
            font-size: 1.2rem;
        }
    }
}

.search {
    background: $dark-grey; 
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    z-index: 99;
    &__link {
        background: lighten($dark-grey, 10%);
        border-radius: 0.2rem; 
        color: lighten($light-grey, 50%);
        margin-right: 0.2rem; 
        padding: 0.2rem;
        &--active {
            background: rgb(38, 96, 253);
        }
    }
    &__field {
        border-radius: 0.2rem; 
        color: lighten($light-grey, 50%);
        margin-left: auto;
        background-color: lighten($dark-grey, 30%);
        input[type="text"] {
            background-color: lighten($dark-grey, 20%);
            border: none;
            padding: 0.25rem;
        }
        
    }
    &__icon {
        padding: 0 0.5rem;
    }
}