.position-1,
.points-25 {
    background: rgba(yellow, 0.5);
}

.position-2,
.points-18 {
    background: rgba(gray, 0.5);
}

.position-3,
.points-15 {
    background: rgba(orange, 0.5);
}

.position-4 {
    background: rgba(lightgreen, 0.5);
}

.position-5 {
    background: rgba(rgb(90, 150, 170), 0.5);
}

.position-6 {
    background: rgba(0, 102, 255, 0.5);
}

.position-7 {
    background: rgba(0, 104, 31, 0.5);
}

.position-8 {
    background: rgba(209, 41, 41, 0.5);
}

.position-9 {
    background: rgba(187, 105, 255, 0.5);
}

.position-10 {
    background: rgba(143, 69, 0, 0.5);
}

.points-0 {
    background: rgba(178, 180, 255, 0.5);
}

@for $i from 11 through 23 {
    .position-#{$i} {
        background: rgba(178, 180, 255, 0.5);
    }
} 

@for $i from 1 through 12 {
    .points-#{$i} {
        background: rgba(lightgreen, 0.5);
    }
} 