@import './reset';
@import './variables';
@import './mixins';

@import './animations';
@import './scrollbar';
@import './navigation';
@import './content';
@import './position';

@import './sprites/flags';

body {
    display: flex;
    // font-family: 'Racing Sans One', cursive;
    // font-family: 'Roboto', sans-serif;
    @include mq-small {
        flex-direction: column;
    }
}





